@model IEnumerable<personapi_dotnet.Models.Entities.Persona>

<h1>Personas</h1>

<table class="table">
    <thead>
        <tr>
            <th>CC</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Género</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => persona.Cc)</td>
                <td>@Html.DisplayFor(m => persona.Nombre)</td>
                <td>@Html.DisplayFor(m => persona.Apellido)</td>
                <td>@Html.DisplayFor(m => persona.Genero)</td>
                <td>@Html.DisplayFor(m => persona.Edad)</td>
                <td>
                    <a asp-action="Edit" asp-route-cc="@persona.Cc">Editar</a> |
                    <a asp-action="Delete" asp-route-cc="@persona.Cc">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Crear Nueva Persona</a>
